<div>
    <!-- put component code here -->
    <header>
        {% load static %}
        <link href="{% static 'css\main.css' %}" rel="stylesheet">
        
        <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;"  aria-label="Fourth navbar example">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
      
              <img src="{% static 'img\svg\book-book-svgrepo-com.svg' %}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/>
              <strong>library zone</strong>
      
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarsExample04">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown04">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>

              <div class="me-3">
                <input unicorn:model="search" id="listSearch" class="form-control" type="text" placeholder="Search" aria-label="Search">
              {% if books_s %}
                <br>
                <ul class="list-group me-5" style="width: 14rem; position: absolute;" id="myList">
                  {% for book_s in books_s %}  
                  <li class="list-group-item list-group-item-action"><a class="list-group-item" href="#">{{book_s}}</a></li>
                  {% endfor %}
                </ul>
              {% endif %} 
              </div>
            </div>
          </div>
        </nav>
      </header>
</div>
