{% extends 'base.html' %}
{% block title %}

Login
{% endblock title %}



{% block css%}
{% load static %}
        <link href="{% static 'css\book.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        
{% endblock css%}

{% block main %}




<section class="inner-page pt-4"> 
  <div class="container">
        <div class="row justify-content-center">
           <div class="col-lg-8 col-md-10 col-sm-12">
               <div class="card my-2" >
                    <div class="card-body">
                          <h3 class="card-title">login</h3> 
                          <form method="post" novalidate >
                              {% csrf_token %}
                              {% include  'includes/form.html' %}
                              
                              <button type="submit" class="btn btn-dark btn-lg btn-block m-3">login<i class="fa fa-sign-in mr-2 mx-1"></i></button>  
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                      Create New account <a href="{% url 'auth:signup' %}">Sign up</a>
                      
                   </div>
                  </div>
              </div>
          </div>
      </div>
    </section>


  {# End #main #}

{% endblock main %}