{% extends 'base.html' %}
{% load unicorn %}



{% block css%}
{% load static %}
        <link href="{% static 'css\book.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        
{% endblock css%}


{% block main %}


    <section class="inner-page pt-4">
      <div class="container">
        <div class=" m-2">
                <div class="flex-row row">
                            <div class="col-md-6 col-lg-6 mt-4">
                            <h3>{{book.title}} </h3>
                            <h4 class="mt-3">Category : 
                              {% for category in book.category.all %}
                                {{category.title}} -  
                              {% endfor %}
                            </h4>
                            <h4 class="mt-3"> Author: {{book.author}}  </h4>
                            <h4 class="mt-3">
                              Publisher:
                              {% if book.publisher %}
                                {{book.publisher}}
                              {% else %}
                                UKNOWN
                              {% endif %}  
                            </h4>
                            <h4 class="mt-3">Publish at:{{book.publish_dt}}</h4>
                            <h4 class="mt-3">ISBN: 
                                    {% if book.isbn %}
                                        {{book.isbn}}
                                    {% else %}
                                    UKNOWN
                                    {% endif %}     
                            </h4>
                            <h4 class="mt-3"><a href="{{book.file.url}}" download="True">Download</a></h4>
                            </div>
                            <div class="col-md-6 col-lg-6 mt-4">
                                <div class="embed-responsive embed-responsive-16by9">
                                            {% if book.cover_img %}  
                                            <img class="embed-responsive-item" width="100%" height="350" src="{{book.cover_img.url}}" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false" alt="{{book.title}} image"></img>
                                            {% else %}
                                            <svg class="embed-responsive-item" width="100%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>{{book.title}} image</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{book.title}}</text></svg>
                                            {% endif %}
                                </div>
                            </div> 
                    </div>
                    <hr>
                    <div class="flex-row row">
                    
                     {# start rating section #}
                    <div class="col-md-6 col-lg-6 mt-4">
                      <div class="container-fluid px-1 py-2 mx-auto">
                        <div class="row justify-content-center">
                          <div class="col-xl-8 col-lg-9 col-md-10 col-12 text-center mb-5">
                            <div class="card card-rating">
                              <div class="cirle-img">
                                <img class="rating-img" src="{% static 'img/sky-rating.jpg'%}">
                                <div class="rating-on-img">
                                  <h3 class="head-rate">4.7</h3>
                                  <h3 class="subhead-rate">out of 5</h3>
                                </div>
                              </div>
                              <div class="heading0 mb-3 text-center">
                                <h2>Reviews, by real people</h2>
                              </div>
                              <div class="rating-bar0 justify-content-center">
                                <table class="text-left mx-auto">
                                  <tr>
                                    <td class="rating-label">Excellent</td>
                                    <td class="rating-bar">
                                      <div class="bar-container">
                                          <div class="bar-5"></div>
                                        </div>
                                    </td>
                                    <td>123</td>
                                  </tr>
                                  <tr>
                                    <td class="rating-label">Good</td>
                                    <td class="rating-bar">
                                      <div class="bar-container">
                                          <div class="bar-4"></div>
                                        </div>
                                    </td>
                                    <td>23</td>
                                  </tr>
                                  <tr>
                                    <td class="rating-label">Average</td>
                                    <td class="rating-bar">
                                      <div class="bar-container">
                                          <div class="bar-3"></div>
                                        </div>
                                    </td>
                                    <td>10</td>
                                  </tr>
                                  <tr>
                                    <td class="rating-label">Poor</td>
                                    <td class="rating-bar">
                                      <div class="bar-container">
                                          <div class="bar-2"></div>
                                        </div>
                                    </td>
                                    <td>3</td>
                                  </tr>
                                  <tr>
                                    <td class="rating-label">Brutal</td>
                                    <td class="rating-bar">
                                      <div class="bar-container">
                                          <div class="bar-1"></div>
                                        </div>
                                    </td>
                                    <td>0</td>
                                  </tr>
                                </table>
                              </div>
                              {# start rating reqest #}
                              <div class="container d-flex justify-content-center mt-6">
          

                                <div class="row">
                                
                                  <div class="col-md-12">
                                
                                    <div class="stars">
                                
                                  <form action="">
                                
                                    <input class="star star-5" id="star-5" type="radio" name="star"/>
                                
                                    <label class="star star-5" for="star-5"></label>
                                
                                    <input class="star star-4" id="star-4" type="radio" name="star"/>
                                
                                    <label class="star star-4" for="star-4"></label>
                                
                                    <input class="star star-3" id="star-3" type="radio" name="star"/>
                                
                                    <label class="star star-3" for="star-3"></label>
                                
                                    <input class="star star-2" id="star-2" type="radio" name="star"/>
                                
                                    <label class="star star-2" for="star-2"></label>
                                
                                    <input class="star star-1" id="star-1" type="radio" name="star"/>
                                
                                    <label class="star star-1" for="star-1"></label>
                                
                                  </form>
                                
                                </div>
                                
                                
                                    
                                  </div>
                                  
                                
                                </div>
                                
                                </div>
                                {# end rating request #}
                          </div>
                        </div>

                      

                            </div>
                          </div>
                        </div>
                        {# end rating section #}

                        {# start comment section #}
                        {% unicorn_scripts %}   
                        {% unicorn "comment-book" bookid=book.id  %}
                        {% csrf_token %}
                 {# end comment section #}
                      </div>
                      
                    </div>
                  </div>
                  
                  </div>
               

  


{% endblock main %}  

{% block js %}
   <script src="{% static 'js\jquery-3.6.0.min.js' %}"></script>
   {# <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script> #}
{% endblock js %}