{% extends 'base.html' %}
{% load unicorn %}

{% block title %}library zone · {{book.title|truncatechars:20}} {% endblock title %}

{% block css%}
{% load static %}
        <link href="{% static 'css\book.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        
{% endblock css%}


{% block main %}


    <section class="inner-page pt-4">
      <div class="container">
        <div class=" m-2">
                <div class="flex-row row">
                            <div class="col-md-6 col-lg-6 mt-4">
                            <h3>{{book.title}} </h3>
                            <h4 class="mt-3">Category : 
                              {% for category in book.category.all %}
                                {{category.title}} -  
                              {% endfor %}
                            </h4>
                            <h4 class="mt-3"> Author: {{book.author}}  </h4>
                            <h4 class="mt-3">
                              Publisher:
                              {% if book.publisher %}
                                {{book.publisher}}
                              {% else %}
                                UKNOWN
                              {% endif %}  
                            </h4>
                            <h4 class="mt-3">Publish at:{{book.publish_dt}}</h4>
                            <h4 class="mt-3">ISBN: 
                                    {% if book.isbn %}
                                        {{book.isbn}}
                                    {% else %}
                                    UKNOWN {% widthratio people.good people.total 100 %}
                                    {% endif %}     
                            </h4>
                            <h4 class=" btn btn-primary mt-3"><a href="{{book.file.url}}" download="True"><i class="fa fa-download"></i> Download</a></h4>
                            </div>
                            <div class="col-md-6 col-lg-6 mt-4">
                                <div class="embed-responsive embed-responsive-16by9">
                                            {% if book.cover_img %}  
                                            <img class="embed-responsive-item" width="100%" height="350" src="{{book.cover_img.url}}" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false" alt="{{book.title}} image"></img>
                                            {% else %}
                                            <svg class="embed-responsive-item" width="100%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>{{book.title}} image</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{book.title}}</text></svg>
                                            {% endif %}
                                </div>
                            </div> 
                    </div>
                    <hr>
                    <div class="flex-row row">
                       <p>
                        <strong>Description:</strong>
                        <Br>
                          {{book.description}}
                       </p>
                    </div>
                    <hr>
                    <div class="flex-row row">
                    
                     {# start rating section #}
                    <div class="col-md-6 col-lg-6 mt-4">
                      <div class="container-fluid px-1 py-2 mx-auto">
                        <div class="row justify-content-center">
                          <div class="col-xl-8 col-lg-9 col-md-10 col-12 text-center mb-5">
                            <div class="card card-rating">
                              <div class="cirle-img">
                                <img class="rating-img" src="{% static 'img/sky-rating.jpg'%}">
                                <div class="rating-on-img">
                                  <h3 class="head-rate">{{rating.rating__avg|floatformat}}</h3>
                                  <h3 class="subhead-rate">out of 5</h3>
                                </div>
                              </div>
                              <div class="heading0 mb-3 text-center">
                                <h2>Reviews, by real people</h2>
                              </div>
                              <div class="rating-bar0 justify-content-center">
                                <table class="text-left mx-auto">
                                  <tr>
                                    <td class="rating-label">Excellent</td>
                                    <td class="rating-bar">
                                      <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style="width: {% widthratio people.exl people.total 100 %}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </td>
                                    <td>{{people.exl}}</td>
                                  </tr>
                                  <tr>
                                    <td class="rating-label">Good</td>
                                    <td class="rating-bar">
                                      <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style="width: {% widthratio people.good people.total 100 %}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </td>
                                    <td>{{people.good}}</td>
                                  </tr>
                                  <tr>
                                    <td class="rating-label">Average</td>
                                    <td class="rating-bar">
                                      <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style="width: {% widthratio people.avr people.total 100 %}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </td>
                                    <td>{{people.avr}}</td>
                                  </tr>
                                  <tr>
                                    <td class="rating-label">Poor</td>
                                    <td class="rating-bar">
                                      <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style="width: {% widthratio people.poor people.total 100 %}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </td>
                                    <td>{{people.poor}}</td>
                                  </tr>
                                  <tr>
                                    <td class="rating-label">Brutal</td>
                                    <td class="rating-bar">
                                      <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-label="Warning example" style="width: {% widthratio people.bru people.total 100 %}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </td>
                                    <td>{{people.bru}}</td>
                                  </tr>
                                </table>
                              </div>
                              {# start rating reqest #}
                              <div class="container d-flex justify-content-center mt-6">
          

                                <div class="row">
                                
                                  <div class="col-md-12">
                                
                                    <div class="stars">
                                      {% if user.is_authenticated %} 
                                
                                          <form action="{{book.get_absolute_url}}" method="post">
                                        
                                            <input class="star star-5" value="5" id="star-5" type="radio" name="star"/>
                                        
                                            <label class="star star-5" for="star-5"></label>
                                        
                                            <input class="star star-4" value="4" id="star-4" type="radio" name="star"/>
                                        
                                            <label class="star star-4" for="star-4"></label>
                                        
                                            <input class="star star-3" value="3" id="star-3" type="radio" name="star"/>
                                        
                                            <label class="star star-3" for="star-3"></label>
                                        
                                            <input class="star star-2" value="2" id="star-2" type="radio" name="star"/>
                                        
                                            <label class="star star-2" for="star-2"></label>
                                        
                                            <input class="star star-1" value="1" id="star-1" type="radio" name="star"/>
                                        
                                            <label class="star star-1" for="star-1"></label>
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary m-2">Submit</button>
                                        
                                          </form>
                                      {% else%}
                                          <div class="alert alert-primary m-4" role="alert">
                                            <i class="fa-solid fa-right-to-bracket"></i> Pleace <a href="{%url 'auth:login'%}"><strong>Login</strong></a> to Rating
                                         </div>
                                      {% endif %}   
                                
                                </div>
                                
                                
                                    
                                  </div>
                                  
                                
                                </div>
                                
                                </div>
                                {# end rating request #}
                          </div>
                        </div>

                      

                            </div>
                          </div>
                        </div>
                        {# end rating section #}

                        {# start comment section #}
                        {% unicorn_scripts %}   
                        {% unicorn "comment-book" bookid=book.id  %}
                        {% csrf_token %}
                 {# end comment section #}
                    </div>
                      
                    </div>
                  </div>
                  
                  </div>
               

    </section>


{% endblock main %}  

{% block js %}
   <script src="{% static 'js\jquery-3.6.0.min.js' %}"></script>
   {# <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script> #}
{% endblock js %}