{% load static %}
{% load unicorn %}



<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="non-profit library of millions of free books, make your self free to search about your favorite book.">
    <meta name="author" content="mohamed">
    {# favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img\favicon\apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img\favicon\favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img\favicon\favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img\favicon\site.webmanifest' %}">
    {#favicon end#}
    <title>{% block title %}{% endblock title %} </title>


    

    <!-- Bootstrap core CSS -->
<link href="{% static 'bootstrap\css\bootstrap.min.css' %}" rel="stylesheet">
 {% block css%}
 {% endblock css%}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  </head>
  <body>
    {% unicorn_scripts %}   
    {% unicorn "search-bar" %}
{% csrf_token %}
{% block main %}

{% endblock main %}
<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>


    <script src="{% static 'bootstrap\js\bootstrap.bundle.min.js' %}"></script>

    {% block js %}
    {% endblock js %}

      
  </body>
</html>